:root {
    // Css Color Variable
    --color__white: #ffffff;
    --color__black: #000000;
    --color__primary: #003594;
    --color__secondary: #9BCBEB;

    // Font
    --font-din: 'DIN';
    --font-dinpro: 'DIN Pro';
    --font-dinarab: 'DIN AR';

}
