/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
footer {
    background-color: var(--color__primary);

    .footer-top {
        padding: 5rem 0;

        .footer-menu {
            @include sm-up {
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.2rem;
            }
            li {
                @include sm-down {
                    margin: 1.5rem 0;
                }
            }
            a {
                font-family: var(--font-dinpro);
                transition: all 0.25s;
                color: var(--color__white);
                font-size: 1.4rem;
                @include sm-up {
                    padding: 1rem 1.5rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer-bottom {
        color: white;
        border-top: .1rem solid white;
        padding: 1.5rem 0;
        
        p {
            font-size: 1.4rem;
        }
    }
}