/*--------------------------------------------------------------
    [ ## Hero Section Start ]
--------------------------------------------------------------*/
.hero__section {
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-slide {
        position: relative;
        .slide-content {
            max-width: 50rem;
            padding: 8rem 0 3rem;
            @include md-up {
                padding: 8rem 0;
            }
            @include xl-up {
                padding: 10rem 0;
                max-width: 55rem;
            }
            @include xxl-up {
                padding: 13rem 0;
            }
            .subtitle {
                color: var(--color__secondary);
                font-size: 2rem;
                font-weight: 500;
                @include xl-up {
                    font-size: 2.2rem;
                }
                @include xxl-up {
                    font-size: 2.8rem;
                }
            }
            .title {
                font-size: 4rem;
                font-weight: bold;
                color: var(--color__primary);
                line-height: 1.2;
                margin: 1rem 0 .5rem;
                @include lg-up {
                    font-size: 5rem;
                    margin: 2rem 0 .5rem;
                }
                @include xl-up {
                    font-size: 6rem;
                }
            }
            p {
                font-size: 1.8rem;
                color: var(--color__secondary);
                font-weight: 500;
                @include xxl-up {
                    font-size: 2.4rem;
                }
                @include xl-up {
                    font-size: 2rem;
                }
            }

            .button-group {
                margin-top: 3rem;

                a {
                    padding: 1.5rem 3rem;
                }
            }
        }
        .slide-image {
            height: 30rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            @include sm-up {
                height: 40rem;
            }
            @include md-up {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                width: 100%;
                max-width: 50rem;
                height: 100%;
                -webkit-clip-path: url(#heroClipPath);
                clip-path: url(#heroClipPath);
            }
            @include lg-up {
                max-width: 60rem;
            }
            @include xl-up {
                max-width: 70rem;
            }
            @include xxl-up {
                max-width: 100rem;
            }
        }
    }
    .heroClip {
        position: absolute;
        width: 0;
        height: 0;
    }
}
/*--------------------------------------------------------------
    [ Hero Section End ]
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    [ ## About Section Start ]
--------------------------------------------------------------*/
.about {
    padding: 10rem 0;
    overflow: hidden;
    .section-content {
        p {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            & + p {
                margin-top: 1.5rem;
            }

            @include xxl-up {
                font-size: 1.6rem;
            }
        }
    }
    .row {
        --bs-gutter-x: 3rem;
        @include lg-down {
            --bs-gutter-y: 4rem;
        }
        @include xxl-up {
            --bs-gutter-x: 5rem;

        }
    }
    .section-image {
        text-align: center;
        @include lg-up {
            width: 150%;
        }
        @include xl-up {
            width: 140%;
        }
        @include xxl-up {
            width: 115%;
        }
        img {
            @include lg-down {
                width: 60rem;
            }
        }
    }
    .states_wrapper{
        margin-top: 10rem;
    }
    .state-item {
        border: .1rem solid var(--color__primary);
        position: relative;
        padding: 3rem 1rem;
        text-align: center;
        @include md-up {
            padding: 5rem 2rem;
        }
        @include xl-up {
            padding: 5rem 4rem;
        }

        .icon img {
            max-height: 6rem;
            @include md-up {
                max-height: 8rem;
            }
            @include xxl-up {
                max-height: 10rem;
            }
        }
        .number {
            font-weight: bold;
            font-size: 3.4rem;
            color: var(--color__primary);
            margin-top: 1rem;
            @include xl-up {
                font-size: 5rem;
            }
            @include xxl-up {
                font-size: 6rem;
            }
        }
        p {
            font-size: 1.8rem;
            margin-top: 1rem;
            @include sm-down {
                font-size: 1.6rem;
            }
        }

        &::before {
            content: '';
            background: var(--color__white) url(../images/site-icon.svg);
            position: absolute;
            right: 1.5rem;
            top: -2.5rem;
            width: 4.5rem;
            height: 4.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include md-up {
                top: -2.3rem;
            }
            @include xl-up {
                width: 5.7rem;
                height: 5.7rem;
                top: -2.8rem;
            }
        }
        &::after {
            content: '';
            background: var(--color__white) url(../images/site-icon.svg);
            left: 1.5rem;
            position: absolute;
            bottom: -2.5rem;
            width: 4.5rem;
            height: 4.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transform: scaleX(-1);
            @include md-up {
                bottom: -2.3rem;
            }
            @include xl-up {
                width: 5.7rem;
                height: 5.7rem;
                bottom: -2.8rem;
            }
        }
    }
}
/*--------------------------------------------------------------
    [ About Section End ]
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    [ ## Event Countdown Start ]
--------------------------------------------------------------*/
.event_Count_Down {
    padding: 5rem 0;
    background: rgb(0,53,148);
    background: linear-gradient(90deg, rgba(0,53,148,1) 0%, rgba(67,133,191,1) 85%, rgba(155,203,235,1) 100%);

    .section-content {
        text-align: center;
        color: var(--color__white);
    }
    .title {
        font-weight: bold;
        font-size: 3.4rem;
        margin-bottom: 1rem;
        filter: drop-shadow(0px 4px 12px rgba(#000, 0.3));
        
        @include lg-up {
            font-size: 4.4rem;
        }
        @include xl-up {
            font-size: 5rem;
        }
    }
    .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        filter: drop-shadow(0px 4px 12px rgba(#000, 0.3));

        @include xl-up {
            gap: 3rem;
        }
        @include xxl-up {
            gap: 5rem;
        }
    }
    .timer_item {
        font-size: 2.4rem;
        @include lg-up {
            font-size: 3.6rem;
        }
        @include lg-up {
            font-size: 5rem;
        }
    }
}
/*--------------------------------------------------------------
    [ Event Countdown End ]
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    [ ## Agenda Start ]
--------------------------------------------------------------*/
.agenda {
    padding: 10rem 0;
    .agenda_tab_wrapper {
        @include lg-up {
            display: flex;
            align-items: flex-start;
        }
        @include xxl-up {
            max-width: 85%;
            margin: 0 auto;
        }
        .nav {
            flex: 0 0 20rem;
            @include lg-up {
                flex-direction: column;
                position: sticky;
                top: 10rem;
            }
            @include xl-up {
                flex: 0 0 25rem;
            }
            @include xxl-up {
                flex: 0 0 30rem;
                top: 12rem;
            }

            .nav-link {
                background-color: var(--color__secondary);
                border-radius: 0;
                padding: 1.5rem 4rem;
                color: var(--color__white);
                @include lg-up {
                    padding: 2rem;
                }
                &.active {
                    background-color: var(--color__primary);
                }
                h5 {
                    font-size: 2rem;
                    font-weight: bold;
                    @include xl-up {
                        font-size: 2.5rem ;
                    }
                    @include xxl-up {
                        font-size: 3rem ;
                    }
                }
                p {
                    font-size: 1.6rem;
                    @include xxl-up {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .tab-content {
            flex: 1;
            background-color: var(--color__white);
            padding: 3rem 2rem;
            box-shadow: .4rem .4rem 1.5rem 0 rgba(0,0,0,0.25);
            -webkit-box-shadow: .4rem .4rem 1.5rem 0 rgba(0,0,0,0.25);
            -moz-box-shadow: .4rem .4rem 1.5rem 0 rgba(0,0,0,0.25);
            border-radius: 0 1rem 1rem 1rem;
            @include sm-up {
                padding: 4rem 5rem;
            }
            @include md-up {
                padding: 5rem 6rem;
            }
            @include xxl-up {
                padding: 7rem 8rem;
            }

            .timeline {
                & + .timeline {
                    margin-top: 5rem;
                }

                @include md-up {
                    display: flex;
                    align-items: flex-start;
                }

                .time {
                    flex: 0 0 20rem;
                    color: var(--color__primary);
                    font-weight: bold;
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
                .description {
                    flex: 1;
                    font-size: 1.8rem;
                    font-weight: 500;
                    @include xxl-up {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .download-button {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        img {
            @include xl-down {
                width: 4.5rem;
            }
        }
        .flip-x {
            transform: scaleX(-1)
        }
        a {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}
/*--------------------------------------------------------------
    [ Agenda End ]
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    [ ## Speakers Panel Start ]
--------------------------------------------------------------*/
.speakers_panel {
    background-color: rgba(#003594, 0.05);
    padding: 10rem 0;
    overflow: hidden;
    .row {
        --bs-gutter-y: 2rem;
        --bs-gutter-x: 2rem;
        justify-content: center;
        @include xl-up {
            --bs-gutter-x: 5rem;

        }
    }
    .speakers-row {
        & + .speakers-row {
            margin-top: 0rem;
            @include xl-up {
                margin-top: 3rem;
            }
            @include xxl-up {
                margin-top: 5rem;
            }
        }
    }
    .speakers-item {
        position: relative;
        text-align: right;
        cursor: pointer;
        img {
            @include xxl-up {
                max-width: 39rem;
            }
        }
        .text {
            position: absolute;
            bottom: 2rem;
            left: 0;
            background-color: var(--color__secondary);
            padding: 1rem 1rem;
            text-align: center;
            width: 95%;
            @include sm-up {
                width: 80%;
            }
        }

        h6, p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;

            @include sm-up {
                font-size: 1.6rem;
            }
        }
    }
    .load-more {
        margin-top: 5rem;

        a {
            min-width: 20rem;
        }
    }
}
/*--------------------------------------------------------------
    [ Speakers Panel End ]
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    [ ## Speakers Panel Start ]
--------------------------------------------------------------*/
.partners {
    padding: 8rem 0;
    @include md-up {
        padding: 10rem 0;
    }
    @include xxl-up {
        padding: 15rem 0 12rem;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
        align-items: center;

        .swiper-slide {
            text-align: center;
        }
    }
}